
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
    .margenes-internos{
        padding:0 50px ;
    }
.contenedor-padre{
    display: flex;
    flex-flow:column nowrap;
}
 .cabecera{
    background: url(../IMAGEN/jññññ.jpg);
    margin-bottom: 1px;
    display: flex;
    flex-flow: column nowrap;

}
    .menu{
        background:rgba(41, 32, 32, 0.2);
         display: flex;
         height: 100px;
         flex-flow: row nowrap;
         align-items:center ;
         
    }
         .logo{
         
          flex: 1 1 auto
          }
            .logo a{
                color:#fff ;
                font-size:30px;
            }
  j          .logo a:hover {
                color:#ffe460
            }  
         .nav{
          flex: 5 1 auto;
          }
               .nav a{
                color: #fff;
                font-size: 13px;
                text-transform:uppercase ;
                padding:0 10px;
                letter-spacing:2px;
               }
               .nav a:hover{
                color: #57554a;
               }
         .rsocial{
         
          flex: 1 1 auto;
          }
    .texto-prin{
         height: 200px;
         display: flex;
         align-items: center;
    }
    h1{
        font-size:21px ;
        color: rgb(112, 228, 141);
        font-weight: 300;
        text-align: center;
        line: height 2 ;
        font-family: 'Times New Roman', Times, serif;
    }
    .seccion{
        background: #000;
        display: flex;
        flex-flow: row nowrap ;
    }
        .articulos{
            
            flex:2 1 auto;
            font-size: 13px;
            letter-spacing: 1px;
            display: flex;
            flex-flow: row wrap;
        }
        .articulos a{
            color: #fff;
            font-size: 13px;
            padding: 10px;
            background: #000;
            margin: 10px 0;
            display: inline-block;
        }
        .articulos a:hover{
            background: #4e4e6a;
        }
        h3{
            color: #fff;
            padding:10px 0 ;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h2{
            font-size: 25px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
        }
        p{
            color:rgb(109, 212, 25);
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
            .son-articulo{
                background: #291753;
                flex: 1 1 40%;
                margin-left: 1px;
            }

        .aside{
            background: #bd3434;
            flex: 1 1 auto;
        }    
        .aside img{
            width: 100%;
        }    
        h4{
            

        }
            
            .publicidad{
                background: #ffea85;
                }
    .pie-pag{
        background: #000;
        display: flex;
        justify-content: center;
    }            
        .pie{
            background: #fee339;
            width: 300px;   
        } 
        .pie a{
            color: #fff;
        }
        @media all (max-widch:800px){
        .seccion{
            flex-directtion:column; 
        }
        .menu{
            flex-direction: column;
            height: auto;
        }
        }
        @media all (max-widch:600px){
            .articulos{
                flex-direction:column;
            }
        }

           


